// just a proof of concept...
#reportProblem {
  prm-icon-after {
    display: none;
  }

  &:hover,
  &:focus {
    & prm-icon::before {
      background-color: $maroon;
      color: #fff;
    }
  }

  prm-icon {
    &::before {
      font-weight: bold;
      color: $maroon;
      border: 2px solid;
      padding: 0.5em;
      border-radius: 0.75em;
    }
  }

  &[aria-expanded="false"] prm-icon::before {
    content: "problem?";
  }

  &[aria-expanded="true"] prm-icon::before {
    content: "close";
  }
}

prm-report-problem {
  .report-container {
    .md-button.report-problem-btn {
      prm-icon md-icon path {
        color: $lightMaroon;
      }

      &:focus,
      &:hover {
        prm-icon md-icon path {
          fill: $maroon;
        }
      }
    }
  }
  .report-problem-content {
    .report-header {
      background-color: $darkGrey;
    }

    .md-button.button-link {
      color: $maroon;

      &:hover:not([disabled]),
      &:focus:not([disabled]) {
        color: #fff;
        background-color: $maroon;
      }
    }
  }
}
