prm-report-problem {
  .report-container {
    .md-button.report-problem-btn {
      prm-icon md-icon path {
        color: $darkMaroon;
      }

      &:focus,
      &:hover {
        prm-icon md-icon path {
          fill: $lightMaroon;
        }
      }
    }
  }
  .report-problem-content {
    .report-header {
      background-color: $darkGrey;
    }

    .md-button.button-link {
      color: $maroon;

      &:hover:not([disabled]),
      &:focus:not([disabled]) {
        color: #fff;
        background-color: $lightMaroon;
      }
    }
  }
}
