prm-logo {
  #banner {
    a:hover {
      box-shadow: none;
      background-color: transparent;
    }
  }
}

prm-search-bookmark-filter {
  #favorites-button:before {
    background-color: $lightGold;
  }

  a {
    &:hover,
    &:focus {
      box-shadow: none; // the shadow looks goofy with our header color
    }
  }
}

prm-authentication {
  // sign-in button in the alert bar
  .bar & .md-button {
    color: $primary;
  }
}
