// just a temporary banner to display for VE testing & config
body::before {
  content: "Primo VE preview";
  background-color: $darkGold;
  color: $darkMaroon;
  font-size: 1.5em;
  text-align: center;
  display: block;
}
