prm-service-button {
  .md-button.button-as-link {
    color: $positive;
    text-transform: uppercase;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: #fff;
      background-color: $positive;
    }
  }
}

prm-request {
  // hide unused request fields
  #form_field_termsOfUse {
    display: none;
  }
  #form_field_notNeedAfter {
    display: none;
  }
}

// Hide resource sharing libraries from pickup locations menus
md-option[value^="2307115588020001701"], // TC_RES_SHARE
md-option[value^="2307115640810001701"], // RES_SHARE3
md-option[value^="2234939915490001701"], // RES_SHARE2
md-option[value^="12900830000231"] {
  // RES_SHARE
  display: none;
}
