prm-full-view {
  .report-problem-fullview-mobile {
    color: $maroon;
  }

  .services-index-under {
    button:not(.accessible-close) {
      display: none;
    }
    button.accessible-close.md-focused {
      background-color: rgb(58, 58, 58) !important;
    }
  }

  .full-view-section-content {
    padding-left: 0 !important;
  }

  // force ordering of services in the full-view menu
  .full-view-inner-container {
    display: flex;
    flex-direction: column;
  }
  #brief {
    order: -6;
  }
  #getit_link1_0 {
    order: -5;
  }
  #getit_link1_1 {
    order: -4;
  }
  #getit_link2 {
    order: -3;
  }
  #action_list {
    order: -2;
  }
  #citationTrails {
    order: -1;
  }
}
