// NOTE: not a typo; the component is spelled one "m"
prm-recomendations {
  // Fix bX header position in smaller breakpoints
  .recommendations-wrapper {
    prm-full-view-cont & {
      .__sm & {
        padding-left: 1em;
      }
    }
    @media (max-width: 599px) {
      .section-description {
        padding-left: 1.5em;
      }
    }
  }

  .recommendations-item a:focus {
    text-decoration: underline;
  }
}
