md-card.havent-found md-list {
  margin-top: 0;
  padding-top: 0;
}

prm-no-search-result > md-card {
  display: none;
}

prm-no-search-result-after-after > md-card.no-results {
  background-color: #fff;
}
